/* 공통 CSS 시작 */
*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Pretendard';
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Pretendard_Light';
    src: url('../font/Pretendard-Light.otf') format('truetype');
}

:root {
    --border-radius: 0.5rem;
    --border-color: #b0b0b0;
    --main-color: rgb(0, 0, 0);
    --main-color-hover: rgb(80, 80, 80);
    --main-font-color: rgb(0, 0, 0);
    --main-font-color-hover: rgb(255, 255, 255);
    --confirm-color: rgb(83, 216, 127);
    --cancel-color: rgb(253, 105, 105);
    --confirm-color-hover: rgb(75, 174, 108);
    --cancel-color-hover: rgb(228, 94, 94);
}

ul{
    list-style: none; 
     color: black;
 }
 
 a{
     color: black;
     text-decoration: none;
 }

/* 공통 CSS 종료 */

main{
    width: 100%;
    margin-top: 5rem;
}

.wrapper{
    width: 75rem;
    /* background-color: antiquewhite; */
    display: flex;
    gap: 1rem;
}

.wrapper *{
    margin: 0;
}

.wrapper .myPageMain{
    width: 62rem;
    border-radius: var(--border-radius);
    /* border: 1px solid black; */
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
}

.myLeaseStatus{
    width: 100%;
}

.myPageTitle{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.myLeaseStatus ul{
    display: flex;
    text-align: center;
    height: 4rem;
    align-items: center;
}
.leaseTitle{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 2px solid black;
    height: 4rem;
    font-size: 1.1rem;
    line-height: 3rem;
    padding-left: 1rem;
}

.myLeaseStatus ul:first-child{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.myLeaseStatus ul{
    height: 10rem;
    border: 2px solid black;
    border-bottom: none;
}

.myLeaseStatus ul:last-child{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom: 2px solid black;
}

.productImage img{
    width: 50%;
    height: 70%;
    border-radius: 0.85rem;
    vertical-align: middle;
}



.leaseList{
    width: 100%;
    margin-top: 1rem;
}

.product-buy{
    line-height: 30px;
    width: 20rem;
}

.product-buy2{
    line-height: 30px;
    width: 10rem;
}

.product-buy3{
    line-height: 30px;
    width: 300px;
}

.product-price{
    font-weight: bold;
}

.product-fix{
    font-weight: bold;
    color: green;
    font-size: 18px;
}

.product-name{
    font-weight: bold;
    font-size: large;
}

.product-no{
    height: 40px;
    box-shadow: inset 0 -4px 0 rgba(187, 187, 187, 0.5);
    padding-left: 1%;
    padding-right: 1%;
}


.listMain{
    background-color: white;
    border: 1px solid black;
}

.sold{
    border: 2px solid black;
    width: 70px;
}

#image-text{
    position: absolute;
    top:35%;
    transform: translate(-50%, -50%);
    right: -50%;
    color: black;
    border-radius: 0.6rem;
    width: 100%;
    height: 75%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#product-sellReserve{
    background-color: green;
}

.product-sell{
    background-color: red;
}

