<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="july.lease.dao.home.HomeMapper">
	<select id="popularItem" resultType="july.lease.dto.HomePopularItemDto"> <!-- 메인 인기상품 -->
	SELECT
	    p.PRODUCT_ID AS productId,
	    p.PRODUCT_NAME AS productName,
	    p.PRODUCT_PRICE AS productPrice,
	    pi.UPLOAD_IMAGE_NAME AS productImageName,
	    (o.ORDER_RENT_END_DATE - o.ORDER_RENT_START_DATE) AS rentDays
	FROM
	    orders o
	JOIN
	    product p ON o.PRODUCT_ID = p.PRODUCT_ID
	JOIN
	    product_image pi ON p.PRODUCT_ID = pi.PRODUCT_ID
	ORDER BY rentDays DESC
	</select>
	
	<select id="getAllItem" resultType="july.lease.dto.HomeItemDto"> <!-- 메인 전체상품 -->
		SELECT
		    p.PRODUCT_ID as productId,
		    p.PRODUCT_NAME as productName,
		    p.PRODUCT_PRICE productPrice,
		    pi.UPLOAD_IMAGE_NAME AS productImageName
		FROM
		    product p
		LEFT JOIN
		    product_image pi ON p.PRODUCT_ID = pi.PRODUCT_ID
	</select>
	
	
	
	
</mapper>